/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Oswald&display=swap");

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #151412;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 26px;
}

/* Hover.css Fade */
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Beginning of Styling */
.container {
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* Header Section */
.header-section {
  padding: 30px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 13;
}

.header-section .burger-menu {
  position: relative;
  width: 23px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
}

.header-section .burger-menu:before {
  content: "";
  position: absolute;
  top: 4px;
  width: 100%;
  height: 4px;
  background: #c7a17a;
  border-radius: 1px;
}

.header-section .burger-menu > div {
  content: "";
  position: absolute;
  top: 12px;
  width: 100%;
  height: 4px;
  background: #c7a17a;
  border-radius: 1px;
}

.header-section .burger-menu:after {
  content: "";
  position: absolute;
  bottom: 6px;
  width: 100%;
  height: 4px;
  background: #c7a17a;
  border-radius: 1px;
}

.header-section a {
  margin: 0 auto;
}

.header-section a > img {
  width: 155px;
  height: 30px;
}

/* Header Section for 1025px up - Hidden By Default */
.header-section-2 {
  display: none;
}

.header-2 {
  display: none;
}

/* Burger menu section / Hidden by default */
.burger-menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 12;
  padding: 10px 10px 1px;
  height: auto;
  width: 100%;
  transform: translateY(-500px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
}

.burger-menu-section a {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  transition: 0.5s;
  padding: 3px 0;
}

.burger-menu-section a:nth-child(4) {
  border-top: 1px solid #c7a17a;
  border-bottom: 1px solid #c7a17a;
}

.burger-menu-section a:hover {
  color: #c7a17a;
}

.burger-menu-section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #c7a17a;
  border-bottom: 1px solid #c7a17a;
}

.burger-menu-section div i {
  font-size: 14px;
  color: #666;
}

.burger-menu-section.show {
  transform: translateY(95px);
  position: fixed;
}

/* Showcase Section */
.showcase-section {
  height: 100vh;
  position: relative;
}

.showcase-section .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #151412 url("assets/home-video-img.jpg") no-repeat center
    center/cover;
}

.showcase-section .video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase-section .video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.showcase-section .showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.showcase-section .showcase-content img {
  height: 114px;
  width: 119px;
  margin-top: 120px;
  margin-bottom: 20px;
  background: none;
  position: relative;
  z-index: 10;
}

.showcase-section .showcase-content .slogan-1 {
  display: block;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 0;
  background: none;
  position: relative;
  z-index: 10;
}

.showcase-section .showcase-content span > i {
  font-size: 15px;
  background: none;
}

.showcase-section .showcase-content .slogan-2 {
  font-family: "Merriweather", serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  display: block;
  background: none;
  position: relative;
  z-index: 10;
}

.showcase-section .showcase-content .menu-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 2.5px;
  line-height: 1.7em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 13px 35px;
  border: 2px solid #fff;
  margin-top: 80px;
  transition: 0.5s;
  background: none;
  position: relative;
  z-index: 10;
}

.showcase-section .showcase-content .menu-btn:hover {
  background: #fff;
  color: #000;
}

/* Showcase Section 2 */
.showcase-section-2 {
  height: auto;
  position: relative;
  z-index: 11;
}

.showcase-section-2 .showcase-2-logo {
  padding: 40px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.showcase-section-2 .showcase-2-logo span,
.showcase-section-2 .showcase-2-logo i {
  color: #c7a17a;
}

.showcase-section-2 .showcase-2-logo i {
  font-size: 38px;
}

.showcase-section-2 .showcase-2-logo .line {
  border-top: 1px solid #c7a17a;
  width: 7%;
}

.showcase-section-2 .showcase-2-logo h1 {
  text-transform: capitalize;
  font-size: 28px;
  margin: 0 10px;
}

/* Mini slideshow */
/* Mini slideshow  container */
.showcase-section-2 .first-box,
.showcase-section-2 .second-box,
.showcase-section-2 .third-box {
  padding: 20px 10px;
}

.showcase-section-2 .first-box .mini-slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.showcase-section-2 .first-box .mini-slideshow-container .mySlides {
  display: none;
}

.showcase-section-2 .first-box .mini-slideshow-container .mySlides img {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px 20px;
  color: #111;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: none;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background: none;
  color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background: rgba(0, 0, 0, 0.9);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* .mini-slideshow {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
} */

/* .mini-slideshow .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 5px !important; */

/* Center slide text vertically */
/* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

/* .mini-slideshow .swiper-slide > img {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 5px !important;
  cursor: pointer;
} */

/* .mini-slideshow .swiper-button-next,
.mini-slideshow .swiper-button-prev {
  cursor: pointer;
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  width: auto;
  padding: 16px 10px;
  color: #111;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.8);
} */

/* .mini-slideshow .swiper-button-next:hover,
.mini-slideshow .swiper-button-prev:hover {
  background: none;
  color: rgba(0, 0, 0, 0.6);
} */

.showcase-section-2 .first-box h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  margin: 25px 0;
}

.showcase-section-2 .first-box p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.7);
}

.showcase-section-2 .first-box .free-wifi {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
}

.showcase-section-2 .second-box > img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.showcase-section-2 .second-box h1 {
  text-transform: uppercase;
  font-size: 22px;
}

.showcase-section-2 .second-box p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.7);
  margin: 20px 0;
  margin-bottom: 10px;
}

.showcase-section-2 .second-box p:first-child {
  font-size: 22px;
  font-weight: 900;
}

.showcase-section-2 .second-box a {
  color: rgb(199, 161, 122, 0.9);
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 2.5px;
  line-height: 1.7em;
}

.showcase-section-2 .second-box a > i {
  color: rgb(199, 161, 122, 0.9);
  transition: 0.3s ease-out;
}

.showcase-section-2 .second-box a:hover > i {
  margin-left: 5px;
}

.showcase-section-2 .third-box .opening-hours-box {
  border: 2.5px solid #fff;
  padding: 25px;
  background: url("assets/schedule-bg.jpg") no-repeat center center/cover;
}

.showcase-section-2 .third-box .opening-hours-box > p {
  background: none;
  text-transform: uppercase;
}

.showcase-section-2 .third-box .opening-hours-box > p:first-child {
  font-size: 22px;
  font-weight: 900;
  margin: 10px 0;
  margin-bottom: 45px;
}

.showcase-section-2 .third-box .opening-hours-box > p:last-child {
  font-size: 22px;
  color: #c7a17a;
  margin-top: 45px;
}

.showcase-section-2 .third-box .opening-hours-box .schedule-grid {
  display: grid;
  grid-template-columns: repeat(2, 52%);
  background: none;
}

.showcase-section-2 .third-box .opening-hours-box .schedule-grid > div {
  padding: 5px 0;
  background: none;
}

.showcase-section-2 .third-box .opening-hours-box .schedule-grid > div > span {
  text-transform: uppercase;
  font-size: 22px;
  background: none;
}

.showcase-section-2 .third-box .opening-hours-box .schedule-grid > div > .time {
  color: rgb(255, 255, 255, 0.6);
}

.showcase-section-2
  .third-box
  .opening-hours-box
  .schedule-grid
  > div
  > .close {
  color: #c7a17a;
}

/* Slideshow Section */
.slideshow-section {
  height: auto;
  position: relative;
  z-index: 11;
  padding: 60px 0;
}

.slideshow-section .swiper-container {
  width: 100%;
}

.slideshow-section .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slideshow-section .swiper-container .swiper-slide > a > img {
  width: 100%;
  position: relative;
}

.slideshow-section .swiper-container .swiper-slide .slide-show-text {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(51, 51, 51, 0.9);
}

.slideshow-section .swiper-container .swiper-slide .slide-show-text > div {
  transition: 0.5s;
  position: absolute;
  width: 100%;
  height: 98%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slideshow-section .swiper-container .swiper-slide .slide-show-text * {
  background: none;
}

.slideshow-section
  .swiper-container
  .swiper-slide
  .slide-show-text
  > div
  > p:first-child {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.slideshow-section
  .swiper-container
  .swiper-slide
  .slide-show-text
  > div
  > p:last-child {
  text-transform: capitalize;
  font-family: "Merriweather", serif;
  font-size: 12px;
  font-style: italic;
  color: #c7a17a;
}

.slideshow-section .swiper-container .swiper-slide:hover .slide-show-text {
  opacity: 1;
}

/* Coffee flavor Section */

.coffee-flavor-section {
  height: auto;
  position: relative;
  z-index: 11;
}

.coffee-flavor-section span:nth-child(1) {
  color: #c7a17a;
  display: block;
  text-align: center;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0;
}

.coffee-flavor-section h1 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 900;
  line-height: 1.14em;
  letter-spacing: 0;
  padding: 20px 40px;
}

.coffee-flavor-section .divider {
  display: block;
  border-bottom: 2px solid #c7a17a;
  margin: 0 auto;
  width: 130px;
}

.coffee-flavor-section .coffee-flavor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}
.coffee-flavor-section .coffee-flavor > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coffee-flavor-section .coffee-flavor span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em;
  padding: 25px;
}

/* Customer review Section */
.customer-review-section {
  height: auto;
  position: relative;
  z-index: 11;
}

.customer-review-section .customer-slideshow-bg-container {
  position: relative;
  padding: 20px 25px 30px;
  display: flex;
  flex-direction: column;
  background: url("assets/customer-says.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customer-review-section .customer-slideshow-bg-container a {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2.5px;
  line-height: 1.7em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px;
  background: none;
  border: 2px solid #fff;
  transition: 0.5s;
}

.customer-review-section .customer-slideshow-bg-container a:hover {
  background: #30271c;
  border: 1px solid #30271c;
}

.customer-review-section .what-customer-say {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  color: rgb(199, 161, 122);
  background: none;
}

.customer-review-section .customer-slideshow-container {
  background: none;
}

.customer-review-section .customer-slideshow-container .swiper-container {
  background: none;
  cursor: grab;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-container
  .swiper-wrapper {
  background: none;
}

.customer-review-section .customer-slideshow-container .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  background: none;
  padding: 20px 0;
}

/* .customer-review-section
  .customer-slideshow-container
  .swiper-slide:nth-child(1) {
  height: 268px;
  line-height: 268px;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-slide:nth-child(2) {
  height: 303px;
  line-height: 303px;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-slide:nth-child(3) {
  height: 303px;
  line-height: 303px;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-slide:nth-child(4) {
  height: 583px;
  line-height: 583px;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-slide:nth-child(5) {
  height: 513px;
  line-height: 513px;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-slide:nth-child(6) {
  height: 513px;
  line-height: 513px;
} */

.customer-review-section
  .customer-slideshow-container
  .swiper-container
  .swiper-slide
  .text {
  font-style: italic;
  font-size: 19px;
  font-family: "Merriweather", serif;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 27px;
  background: none;
  text-align: center;
}

.customer-review-section
  .customer-slideshow-container
  .swiper-container
  .swiper-slide
  .text-2 {
  font-size: 19px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background: none;
  text-align: center;
}

.swiper-pagination {
  position: relative !important;
  background: none;
  padding: 30px 0;
  display: block;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  display: inline-block;
  border-radius: 100%;
  background: #fff !important;
  opacity: 0.8 !important;
  margin: 0 8px;
}

.swiper-pagination-bullet-active {
  background: #c7a17a !important;
}

/* Cafe Feature Section */

.cafe-feature-section {
  height: auto;

  position: relative;
  z-index: 11;
}

.cafe-feature-section div:first-child {
  padding: 80px 8px 20px;
}

.cafe-feature-section div:nth-child(2),
.cafe-feature-section div:nth-child(3) {
  padding: 20px 8px 20px;
}

.cafe-feature-section .open-mic,
.cafe-feature-section .conference-room,
.cafe-feature-section .vertical-gift-shop {
  width: 100%;
  height: auto;
  transition: 0.5s;
}

.cafe-feature-section .open-mic:hover,
.cafe-feature-section .conference-room:hover,
.cafe-feature-section .vertical-gift-shop:hover {
  opacity: 0.7;
  cursor: pointer;
}

.cafe-feature-section div > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 25px 0;
}

.cafe-feature-section div > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cafe-feature-section div > p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.6);
  padding-bottom: 25px;
}

.cafe-feature-section div > a {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.7em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 35px;
  background: #c7a17a;
  transition: 0.5s;
}

.cafe-feature-section div > a:hover {
  background: #30271c;
}

.cafe-feature-section div > a > i {
  background: none;
}

.cafe-feature-section div > a > i:hover {
  background: none;
}

/* Contact Section */
/* Contact Us */
.contact-section {
  height: auto;
  position: relative;
  z-index: 11;
  background: #212121 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
}

.contact-section * {
  background: #212121 !important;
}

.contact-section div .contact-header {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 700;
  padding: 35px 0;
}

.contact-section div .contact-p p {
  color: rgb(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.contact-section div .contact-p p:nth-child(1) {
  color: #fff;
  font-weight: 900;
}

.contact-section div .contact-p a {
  color: #c7a17a;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.contact-section div .contact-p .divider {
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  display: block;
  width: 90%;
  height: 5px;
  margin: 20px 0 18px;
}

.contact-section div .contact-p img {
  width: 150px;
  height: 150px;
}

/* Opening Hours */
.contact-section .schedule-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 5px 0 15px;
}

.contact-section .schedule-grid .schedule-day {
  text-transform: uppercase;
  font-size: 14px;
}

.contact-section .schedule-grid .underline {
  display: block;
  width: 70%;
  height: 5px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.contact-section .schedule-grid .schedule-time {
  color: rgb(255, 255, 255, 0.6);
  font-size: 14px;
}

.contact-section .schedule-grid .schedule-close {
  color: #c7a17a;
  font-size: 14px;
  text-transform: uppercase;
}

/* Vertical News */
.contact-section div:nth-child(3) .vertical-news-flex {
  display: flex;
  flex-direction: column;
}

.contact-section div:nth-child(3) .vertical-news-flex div {
  display: flex;
  flex-direction: column;
  padding: 10px 0 17px;
  width: 95%;
}

.contact-section div:nth-child(3) .vertical-news-flex div:nth-child(2) {
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.contact-section div:nth-child(3) .vertical-news-flex div a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  transition: 0.5s;
  padding-bottom: 3px;
}

.contact-section div:nth-child(3) .vertical-news-flex div a:hover {
  color: #c7a17a;
}

.contact-section div:nth-child(3) .vertical-news-flex div span {
  letter-spacing: 0.5px;
  line-height: 14px;
  font-size: 13px;
  font-style: italic;
  font-family: "Merriweather", serif;
  color: #c7a17a;
}

/* Site links */
.contact-section div:nth-child(4) {
  display: flex;
  flex-direction: column;
}

.contact-section div:nth-child(4) > a {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 13.5px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  padding: 8px 0;
}

.contact-section div:nth-child(4) > div {
  margin: 25px 0 35px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  width: 95%;
  display: block;
}

.contact-section div:nth-child(4) > a:hover {
  color: #c7a17a;
}

/* Footer */
footer {
  position: relative;
  padding: 20px 0;
  z-index: 11;
  height: auto;
  background: #000;
}

footer * {
  background: #000;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer div:nth-child(1) > p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #acacac;
}

footer div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0;
}

footer div:nth-child(2) > a {
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%);
  margin: 0 10px;
  transition: 0.5s;
}

footer div:nth-child(2) > a:hover {
  filter: invert(70%) sepia(30%) saturate(420%) hue-rotate(349deg)
    brightness(90%) contrast(89%);
}

footer div:nth-child(2) .fb-logo {
  background: url("assets/facebook.svg");
  background-size: contain;
}

footer div:nth-child(2) .google-logo {
  background: url("assets/google.svg");
  background-size: contain;
  width: 23px !important;
  height: 23px !important;
}

footer div:nth-child(2) .yelp-logo {
  background: url("assets/yelp.svg");
  background-size: contain;
}

footer div:nth-child(3) > a {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #acacac;
  text-decoration: none;
}

footer .up-btn {
  width: 30px;
  height: 30px;
  display: inline-block;
  right: 30px;
  bottom: 40px;
  position: fixed;
  /* filter: invert(91%) sepia(99%) saturate(5928%) hue-rotate(297deg)
    brightness(84%) contrast(83%); */
  background: #c7a17a;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}

footer .up-btn.active {
  width: 30px;
  height: 30px;
  display: inline-block;
  right: 30px;
  bottom: 40px;
  position: fixed;
  pointer-events: auto;
  opacity: 1;
  /* filter: invert(91%) sepia(99%) saturate(5928%) hue-rotate(297deg)
    brightness(84%) contrast(83%); */
}

footer .up-btn:hover {
  /* filter: invert(44%) sepia(6%) saturate(3397%) hue-rotate(349deg)
    brightness(102%) contrast(95%); */
  background: #9a6e41;
}

footer a .up-logo {
  background: url("assets/up-arrow.svg") no-repeat center center/contain;
  height: 16px;
  width: 16px;
  display: block;
  margin: 5px auto;
  filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(130deg)
    brightness(105%) contrast(101%);
}

/* .header-section-2 .header-1 div:nth-child(3) > a {
  width: 16px;
  height: 16px;
  display: inline-block;
  filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
    brightness(105%) contrast(102%);
  margin: 0 10px;
  transition: 0.5s;
}

.header-section-2 .header-1 div:nth-child(3) > a:hover {
  filter: invert(70%) sepia(30%) saturate(420%) hue-rotate(349deg)
    brightness(90%) contrast(89%);
}

.header-section-2 .header-1 div:nth-child(3) .fb-logo {
  background: url("assets/facebook.svg");
  background-size: contain;
} */

/* Side Menu Section for 1025px up / Hidden By Default */
.side-menu-section {
  right: 0;
  position: fixed;
  z-index: 13;
  transition: 0.5s;
}

/* 321px tp 480px  Screen Size */
@media only screen and (min-width: 321px) {
  /* Header Section */
  .header-section {
    padding: 30px 20px;
  }

  /* Burger menu section / Hidden by default */
  .burger-menu-section {
    padding: 10px 80px 5px;
  }

  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 35%;
    height: auto;
    margin-top: 115px;
    margin-bottom: 30px;
  }

  .showcase-section .showcase-content .slogan-1 {
    font-size: 9vw;
    margin-bottom: 15px;
  }

  .showcase-section .showcase-content span > i {
    font-size: 17px;
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 3.5vw;
  }

  .showcase-section .showcase-content .menu-btn {
    margin-top: 105px;
    padding: 13px 40px;
  }

  /* Mini slideshow */
  /* Mini slideshow  container */
  .showcase-section-2 .first-box,
  .showcase-section-2 .second-box,
  .showcase-section-2 .third-box {
    padding: 20px 20px;
  }

  /* Opening hours section */
  .showcase-section-2 .third-box .opening-hours-box {
    padding: 30px 30px;
  }

  /* Slideshow Section */
  .slideshow-section {
    padding: 60px 0 70px;
  }

  .slideshow-section .swiper-container .swiper-slide .slide-show-text {
    height: 98.5%;
  }

  /* Cafe feature Section */
  .cafe-feature-section div:first-child {
    padding: 80px 20px 20px;
  }

  .cafe-feature-section div:nth-child(2),
  .cafe-feature-section div:nth-child(3) {
    padding: 20px 20px;
  }

  .cafe-feature-section div:nth-child(3) {
    padding-bottom: 70px;
  }

  /* Customer review Section */
  .customer-review-section .customer-slideshow-bg-container {
    padding: 30px 30px 35px;
    background: url("assets/customer-says.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Contact Section */
  .contact-section {
    padding: 25px 20px 10px;
  }

  /* Footer Section */
  footer {
    padding: 20px 0 40px;
  }
}

/* 481px to 599px Screen Size */
@media only screen and (min-width: 481px) {
  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 35%;
    height: auto;
    margin-top: 115px;
    margin-bottom: 30px;
  }

  .showcase-section .showcase-content .slogan-1 {
    /* font-size: 40px; */
    font-size: 9vw;
    margin-bottom: 15px;
  }

  .showcase-section .showcase-content span > i {
    font-size: 17px;
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 3.5vw;
  }

  .showcase-section .showcase-content .menu-btn {
    margin-top: 105px;
    padding: 13px 40px;
  }

  /* Opening hours section */
  .showcase-section-2 .third-box .opening-hours-box .schedule-grid > div {
    padding: 7px 0;
  }

  .showcase-section-2 .showcase-2-logo .line {
    width: 10%;
  }

  .showcase-section-2 .third-box .opening-hours-box > p:last-child {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  /* Slideshow Section */
  .slideshow-section {
    padding: 60px 0 70px;
  }

  .slideshow-section .swiper-container .swiper-slide .slide-show-text {
    height: 98.5%;
  }

  /* Cafe feature Section */
  .cafe-feature-section div:first-child {
    padding: 80px 75px 20px;
  }

  .cafe-feature-section div:nth-child(2),
  .cafe-feature-section div:nth-child(3) {
    padding: 20px 75px;
  }

  .cafe-feature-section div:nth-child(3) {
    padding-bottom: 70px;
  }

  /* Customer review Section */
  .customer-review-section .customer-slideshow-bg-container {
    padding: 45px 30px 60px;
  }

  .customer-review-section .customer-slideshow-bg-container a {
    padding: 12px 25px;
    width: 450px;
    display: block;
    margin: 0 auto;
  }

  .customer-review-section .what-customer-say {
    font-size: 30px;
  }

  /* Cafe feature Section */
  .cafe-feature-section .open-mic,
  .cafe-feature-section .conference-room,
  .cafe-feature-section .vertical-gift-shop {
    width: 85%;
  }

  .cafe-feature-section div > a {
    padding: 17px 37px;
  }

  /* Contact Section */
  .contact-section {
    padding: 25px 75px 10px;
  }

  /* Footer Section */
  footer {
    padding: 20px 0 40px;
  }
}

/* 600px to 767px Screen Size */
@media only screen and (min-width: 600px) {
  /* Cafe feature Section */
  .cafe-feature-section .open-mic,
  .cafe-feature-section .conference-room,
  .cafe-feature-section .vertical-gift-shop {
    width: 90%;
  }
}

/* 768 to 860px  Screen Size*/
@media only screen and (min-width: 768px) {
  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 30%;
    margin-top: 65px;
    margin-bottom: 60px;
  }

  .showcase-section .showcase-content .slogan-1 {
    font-size: 8.5vw;
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .showcase-section .showcase-content span > i {
    font-size: 20px;
    top: 70%;
    transform: translateY(-70%);
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 3vw;
  }

  /* Opening hours Section  */
  .showcase-section-2 .showcase-2-logo .line {
    width: 18%;
  }

  /* Coffee flavor Section */
  .coffee-flavor-section .coffee-flavor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 861px to 1024px Screen Size */
@media only screen and (min-width: 861px) {
  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .showcase-section .showcase-content .slogan-1 {
    font-size: 8.5vw;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .showcase-section .showcase-content span > i {
    font-size: 20px;
    top: 70%;
    transform: translateY(-70%);
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 2.5vw;
  }

  .showcase-section .showcase-content .menu-btn {
    margin-top: 70px;
  }

  /* Showcase Section 2 */
  .showcase-section-2 .first-box,
  .showcase-section-2 .second-box,
  .showcase-section-2 .third-box {
    padding: 20px 55px;
  }

  /* Opening hours Section */
  .showcase-section-2 .third-box .opening-hours-box .schedule-grid .left-side {
    justify-self: start;
  }

  .showcase-section-2 .third-box .opening-hours-box .schedule-grid .right-side {
    justify-self: end;
    padding-right: 30px;
  }

  /* Coffee flavor Section */
  .coffee-flavor-section .coffee-flavor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Customer review Section */
  .customer-review-section .customer-slideshow-bg-container {
    padding: 80px 70px 60px;
  }

  .customer-review-section .what-customer-say {
    font-size: 40px;
    margin-left: 5%;
  }

  .customer-review-section
    .customer-slideshow-container
    .swiper-container
    .swiper-slide
    .text {
    width: 90%;
  }

  /* Cafe feature Section */
  .cafe-feature-section div:first-child {
    padding: 80px 40px 20px;
  }

  .cafe-feature-section div:nth-child(2),
  .cafe-feature-section div:nth-child(3) {
    padding: 20px 40px;
  }

  .cafe-feature-section div:nth-child(3) {
    padding-bottom: 70px;
  }

  .cafe-feature-section .open-mic,
  .cafe-feature-section .conference-room,
  .cafe-feature-section .vertical-gift-shop {
    width: 65%;
  }

  /* Contact Section */
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 40% 1fr 1fr;
    grid-gap: 20px;
    padding: 40px 40px 70px;
  }

  .contact-section .schedule-grid {
    justify-content: center;
    align-items: center;
  }

  /* Footer */
  .flex-column {
    flex-direction: row;
    justify-content: space-evenly;
  }

  footer div:nth-child(2) {
    margin: 0;
  }
}

/* 1025px to 1200px Screen Size */
@media only screen and (min-width: 1025px) {
  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 20%;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .showcase-section .showcase-content .slogan-1 {
    font-size: 8vw;
  }

  .showcase-section .showcase-content span > i {
    font-size: 20px;
    top: 70%;
    transform: translateY(-70%);
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 2vw;
  }

  /* Showcase Section 2 */
  .showcase-section-2 .showcase-2-logo .line {
    width: 20%;
  }

  .cafe-feature-section .open-mic,
  .cafe-feature-section .conference-room,
  .cafe-feature-section .vertical-gift-shop {
    width: 55%;
  }
}

/* 1201px to 1280px Screen Size */
@media only screen and (min-width: 1201px) {
  /* container */
  .container {
    transition: 0.5s;
    position: relative;
    z-index: 13;
  }

  .container.active {
    transform: translateX(-20%);
    transition: 0.5s;
  }

  /* Header Section for mobile/tablet */
  .header-section {
    display: none;
  }

  /* Header Section for 1025px up - Hidden By Default */
  .header-section-2 {
    display: block;
    position: relative;
    z-index: 13;
  }

  /* div 1 */
  .header-section-2 .header-1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 15px 20px;
  }

  .header-section-2 .header-1 div {
    padding: 0 5px;
  }

  .header-section-2 .header-1 div:nth-child(1) > span,
  .header-section-2 .header-1 div:nth-child(2) > a {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }

  .header-section-2 .header-1 div:nth-child(1) > span {
    padding-right: 10px;
    border-right: 1px solid #fff;
  }

  .header-section-2 .header-1 div:nth-child(2) > a {
    text-decoration: none;
    padding-right: 10px;
    border-right: 1px solid #fff;
  }

  .header-section-2 .header-1 div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .header-section-2 .header-1 div:nth-child(3) > a {
    width: 16px;
    height: 16px;
    display: inline-block;
    filter: invert(81%) sepia(100%) saturate(0%) hue-rotate(95deg)
      brightness(105%) contrast(102%);
    margin: 0 10px;
    transition: 0.5s;
  }

  .header-section-2 .header-1 div:nth-child(3) > a:hover {
    filter: invert(70%) sepia(30%) saturate(420%) hue-rotate(349deg)
      brightness(90%) contrast(89%);
  }

  .header-section-2 .header-1 div:nth-child(3) .fb-logo {
    background: url("assets/facebook.svg");
    background-size: contain;
  }

  .header-section-2 .header-1 div:nth-child(3) .google-logo {
    background: url("assets/google.svg");
    background-size: contain;
    width: 23px !important;
    height: 23px !important;
  }

  .header-section-2 .header-1 div:nth-child(3) .yelp-logo {
    background: url("assets/yelp.svg");
    background-size: contain;
  }

  /* Header 2 Sticky */
  .header-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 5px;
    width: 100%;
    z-index: 13;
  }

  .header-2 .flex-1 {
    padding-left: 30px;
  }

  .header-2 .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
  }

  .header-2 div i,
  .header-2 .dropdown .dropbtn > i {
    margin-right: 8px;
    transition: 0.3s;
  }

  .header-2 div > a,
  .header-2 .dropdown .dropbtn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
    transition: 0.3s;
  }

  .header-2 div > a:hover > .fa-search {
    transition: 0.3s;
  }

  .header-2 div > a:hover,
  .header-2 .dropdown .dropbtn:hover,
  .header-2 .dropdown .dropdown-content > a .header-2 div > a:hover > i {
    color: #c7a17a;
  }

  .header-2 div > a:hover > .fa-search {
    color: rgb(255, 255, 255, 0.7);
  }

  .header-2 .dropdown {
    position: relative;
    display: inline-block;
  }

  .header-2 .dropdown .dropdown-content {
    display: none;
    position: absolute;
  }

  .header-2 .dropdown .dropbtn {
    border: none;
  }

  .header-2 .dropdown .dropdown-content a {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    padding: 15px;
    width: 220%;
  }

  /* Header 2 Sticky Burger Menu */
  .header-2 .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .header-2 .flex .fa-search {
    margin-right: 25px;
  }

  .header-2 .flex .burger-menu-2 {
    position: relative;
    width: 23px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
  }

  .header-2 .flex .burger-menu-2:before {
    content: "";
    position: absolute;
    top: 6px;
    width: 95%;
    height: 2px;
    background: #fff;
    border-radius: 1px;
  }

  .header-2 .flex .burger-menu-2 > div {
    content: "";
    position: absolute;
    top: 13px;
    width: 95%;
    height: 2px;
    background: #fff;
    border-radius: 1px;
  }

  .header-2 .flex .burger-menu-2:after {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 95%;
    height: 2px;
    background: #fff;
    border-radius: 1px;
  }

  .sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
  }

  .sticky + .showcase-section {
    padding-top: 102px;
  }

  /* Side Menu Section for 1025px up / Hidden By Default */
  .side-menu-section {
    position: fixed;
    top: 0;
    right: -14.5%;
    height: 100vh;
    width: 25%;
    z-index: 10;
    background: #eae7de;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 55px;
    transition: 0.5s;
  }

  /* .stop-scrolling {
    height: 100%;
    overflow: hidden;
  } */

  .side-menu-section.active {
    right: 0;
    position: fixed;
    z-index: 13;
    transition: 0.5s;
  }

  .side-menu-section * {
    background: #eae7de;
  }

  .side-menu-section div:nth-child(1),
  .side-menu-section div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .side-menu-section div:nth-child(1) > a {
    display: block;
    text-align: center;
  }

  .side-menu-section div:nth-child(1) > a > img {
    width: 50%;
    height: auto;
  }

  .side-menu-section div:nth-child(1) .close-btn {
    cursor: pointer;
    display: inline-block;
    text-align: right;
  }

  .side-menu-section div:nth-child(1) .close-btn .fa-times {
    transform: rotate(-90deg);
    transition: 0.5s;
  }

  .side-menu-section div:nth-child(1) .close-btn:hover .fa-times {
    transform: rotate(90deg);
    transition: 0.5s;
  }

  .side-menu-section div:nth-child(1) .close-btn > i {
    color: #9d9d9d;
  }

  .side-menu-section div:nth-child(2) > p {
    text-align: center;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #333;
    margin: 20px 0 0;
  }

  .side-menu-section div:nth-child(2) > p > strong,
  strong {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #333;
  }

  .side-menu-section div:nth-child(3) {
    margin-top: 25px;
  }

  .side-menu-section div:nth-child(3) > a {
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(76%) sepia(36%) saturate(374%) hue-rotate(348deg)
      brightness(83%) contrast(86%);
    margin: 0 10px;
    transition: 0.5s;
  }

  .side-menu-section div:nth-child(3) > a:hover {
    filter: invert(0%) sepia(8%) saturate(7469%) hue-rotate(355deg)
      brightness(90%) contrast(110%);
  }

  .side-menu-section div:nth-child(3) .ig-logo {
    background: url("assets/ig.svg");
    background-size: contain;
  }

  .side-menu-section div:nth-child(3) .fb-logo {
    background: url("assets/facebook.svg");
    background-size: contain;
  }

  .side-menu-section div:nth-child(3) .twitter-logo {
    background: url("assets/twitter.svg");
    background-size: contain;
  }

  .side-menu-section div:nth-child(3) .tumblr-logo {
    background: url("assets/tumblr.svg");
    background-size: contain;
  }

  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 15%;
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .showcase-section .showcase-content .slogan-1 {
    font-size: 8vw;
  }

  .showcase-section .showcase-content span > i {
    font-size: 20px;
    top: 70%;
    transform: translateY(-70%);
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 2.5vw;
  }

  /* Showcase Section 2 */
  .showcase-section-2-three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 45%;
    justify-content: center;
    padding: 0 25px;
  }

  .showcase-section-2 .first-box,
  .showcase-section-2 .second-box,
  .showcase-section-2 .third-box {
<<<<<<< HEAD
    padding: 20px 45px;
=======
    padding: 20px 20px;
>>>>>>> temporary
  }

  .showcase-section-2 .second-box > img {
    margin: 0;
  }

  /* Coffee flavors Section */
  .coffee-flavor-section .coffee-flavor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 50px 75px;
  }

  /* Customer review Section */
  .customer-review-section .customer-slideshow-bg-container {
    padding: 85px 95px 60px;
  }

  .customer-review-section .what-customer-say {
    margin-left: 10%;
  }

  .customer-review-section
    .customer-slideshow-container
    .swiper-container
    .swiper-slide
    .text {
    width: 80%;
  }

  /* Cafe feature Section */
  .cafe-feature-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .cafe-feature-section .open-mic,
  .cafe-feature-section .conference-room,
  .cafe-feature-section .vertical-gift-shop {
    width: 100%;
  }

  /* .cafe-feature-section div:nth-child(1),
  .cafe-feature-section div:nth-child(2),
  .cafe-feature-section div:nth-child(3) {
    padding: 0 !important;
  } */

  .cafe-feature-section div {
    padding: 80px 40px !important;
  }

  /* Contact Section */
  .contact-section {
    padding: 40px 65px 70px;
  }
}

/* 1281px to 1480px Screen Size */
@media only screen and (min-width: 1281px) {
  /* Showcase Section */
  .showcase-section .showcase-content img {
    width: 201px;
    height: 203px;
  }

  .showcase-section .showcase-content .slogan-1 {
    font-size: 90px;
  }

  .showcase-section .showcase-content span > i {
    font-size: 20px;
    top: 100%;
    transform: translateY(-100%);
    position: relative;
  }

  .showcase-section .showcase-content .slogan-2 {
    font-size: 32px;
  }

  .showcase-section-2 .showcase-2-logo .line {
    width: 20%;
  }

  /* Showcase Section 2 */
  .showcase-section-2 .showcase-2-logo .line {
    width: 23%;
  }

  .showcase-section-2-three-column {
    padding: 0 35px;
  }

  /* Coffee flavors Section */
  .coffee-flavor-section .coffee-flavor {
    padding: 0 50px 85px;
  }

  /* Cafe feature Section */
  .cafe-feature-section {
    padding: 20px 35px;
  }

  /* Contact Section */
  .contact-section {
    padding: 40px 90px 70px;
  }

  .contact-section .schedule-grid .underline {
    width: 90%;
  }
}

/* 1450px upwards Screen Size */
@media only screen and (min-width: 1450px) {
  .customer-review-section .what-customer-say {
    margin-left: 20%;
  }

  .customer-review-section
    .customer-slideshow-container
    .swiper-container
    .swiper-slide
    .text {
    width: 900px;
  }
}

/* 1581px upwards Screen Size */
@media only screen and (min-width: 1581px) {
  /* Showcase Section 2 */
  .showcase-section-2-three-column {
    padding: 0 15%;
  }

  /* Coffee flavors Section */
  .coffee-flavor-section .coffee-flavor {
    padding: 0 12% 85px;
  }

  /* Cafe feature Section */
  .cafe-feature-section {
    padding: 20px 13%;
  }

  /* Contact Section */
  .contact-section {
    padding: 40px 15% 70px;
  }
}
